* {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

body {
    background: url(moon.jpg);
    background-repeat: repeat;

}

.topnav {
    background-color: #333;
    overflow: hidden;
    padding: 10px 10px;
    margin: 20px;
    text-align: center;
}

ul {
    list-style: none;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
    font-size: 20px;
    margin: 5px auto;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #2e8061d9;
    color: whitesmoke;
}

.profile {
    width: 255px;
    height: 320px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #333;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

p {
    padding-left: 25px;
    padding-right: auto;
    padding-top: 25px;
    color: #ddd;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.copyright {
    background-color: #333;
    padding: 20px;
    text-align: center;
}
